input
qc
scripts
sub12
meta_tools
.nextflow*
work
results
.nextflow*
ERR*
k2_*
vamb*
results*
gtdbtk*
taxdump*
accession*
nanoplot_summary
databases
scratch
.Rproj.user
*.R*
renv*
*Rproj
settings.json
hosts
*.ipynb
drep
report*
*.pptx
bad_files
cleanup
README.md
human
vamb
misc
old_res
embl*
