conda.enabled = true
conda.useMamba = true
outputDir = 'results'
workDir = 'scratch'
resume = true

params {
	outdir = "${params.outdir}"
	inputdir = "${launchDir}/input"
	sampleid = "${params.sampleid}"
	KRAKEN2DB = "${launchDir}/databases/k2_standard_16_GB_20250714" // path to kraken2 database
	CHECKMDB = "${launchDir}/databases/CheckM2_database/uniref100.KO.1.dmnd"
	human = "${launchDir}/human/GCF_000001405.39_GRCh38.p13_genomic.fna.gz"
	quality = 8
	length = 1000
	bin_size = 100000
	bamsdir = "${params.outdir}/bams"
	mags_catalogue = "${params.outdir}/mags/mags_catalogue.fna"
	magsdir = "${params.outdir}/mags/**/*.assembly.fasta"
	bracken = "${params.outdir}/abundance_correction/bracken/**/*.bracken"
	human_dep_reads = "${params.outdir}/kraken/human_dep_reads/${params.sampleid}_human_dep.fastq" // 'Input reads file (fastq)'
	threads  =  10
}