conda.enabled = true
conda.useMamba = true
outputDir = 'results'
workDir = 'scratch'
resume = true

params {
	// Pipeline Inputs/Outputs
	inputdir = "${launchDir}/input"
	sampleid = "CC-KAS-006"

	// Databases
	KRAKEN2DB = "${launchDir}/databases/k2_standard_16_GB_20250714" // path to kraken2 database
	CHECKMDB = "${launchDir}/databases/CheckM2_database/uniref100.KO.1.dmnd"
	hosts = "${launchDir}/hosts/homo_bos_taurus_gallus_gallus.fna.gz"

	// Filtering Parameters
	base_quality = 8
	read_length = 1000
	bin_size = 100000

	// OI files
	bamsdir = "${outputDir}/bams"
	mags_catalogue = "${outputDir}/mags/mags_catalogue.fna"
	magsdir = "${outputDir}/mags/**/*.assembly.fasta"
	bins = "${outputDir}/vamb/bins/*.fna"
	bracken = "${outputDir}/abundance_correction/bracken/**/*.bracken"
	host_dep_reads = "${outputDir}/kraken/host_depleted/${params.sampleid}_cleaned.fastq.gz" // 'Input reads file (fastq)'

	threads  =  15
}

process {
		// default environment
		conda = '/home/james/miniconda3/envs/bacteria_meta'
		cpus = 10

		withName: assemble_mags {
			conda = '/home/james/miniconda3/envs/meta_assembler'
			cpus = params.threads
		}
		withName: bin_qc {
			conda = '/home/james/miniconda3/envs/checkm2'
		}
		withName: classify {
			conda = '/home/james/miniconda3/envs/gtdbtk-2.6.1'
			cpus = params.threads
			memory = 10
		}
}