conda.enabled = true
conda.useMamba = true
workDir = 'scratch'
resume = true

params {
  // Pipeline Inputs/Outputs
  inputdir = "${launchDir}/input"
  outdir = "${launchDir}/results"
  sample_id = null

  // Databases
  KRAKEN2DB = "${launchDir}/databases/k2_standard_16_GB_20250714"
  CHECKMDB = "${launchDir}/databases/CheckM2_database/uniref100.KO.1.dmnd"
  hosts = "${launchDir}/misc/human/GCF_016699485.2_bGalGal1.mat.broiler.GRCg7b_genomic.fna.gz"

  // Filtering Parameters
  base_quality = 8
  read_length = 1000
  bin_size = 100000
  threads = 15

  // Paths for downstream referencemim
  bamsdir = "${params.outdir}/bams"
  magsdir = "${params.outdir}/mags/**/*.assembly.fasta"
  bins = "${params.outdir}/vamb/bins/*.fna"
  bracken = "${params.outdir}/BRACKEN_ABUNDANCE/bracken/**/*.bracken"
}

process {
		// default environment
		conda = '/home/james/miniconda3/envs/bacteria_meta'
		cpus = 10

  withName: assemble_mags {
    conda = '/home/james/miniconda3/envs/meta_assembler'
    cpus = 10 //params.threads
    // memory = 10
  }
  withName: bin_qc {
    conda = '/home/james/miniconda3/envs/checkm2'
  }
  
  // withName: classify {
  //   conda = '/home/james/miniconda3/envs/gtdbtk-2.6.1'
  //   cpus = 10//params.threads
  // }

  withName: 'taxa_assign_assembly:MINIMAP2_REMOVE_HOST_READS' {
        cpus = 15
        // This will automatically retry with more memory if it fails again
        // errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'terminate' }
        maxRetries = 2
    }
}